@model Pagar.Models.Pagari

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Pagari</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Kogus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kogus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Toode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Toode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tähtaeg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tähtaeg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lisa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lisa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TuleJärgi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TuleJärgi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
