@model IEnumerable<Pagar.Models.Pagari>

@{
    ViewBag.Title = "Statistika";
}
<h2>Statistika</h2>
<table>
    @* Näitab andeid --> *@
    <tr>
        <h3>Tellitud tooteid: @ViewBag.Kõik @TempData["Kõik"]</h3>
    </tr>
    <tr>
        <h3>Valmistatud tooteid: @ViewBag.Lõpetatud @TempData["Lõpetatud"]</h3>
    </tr>
    <tr>
        <h3>Üleantud kliendile:  @ViewBag.Üleantud @TempData["Üleantud"]</h3>
    </tr>
</table>
@* Näitab loodud diagrammi *@
@{
    <img src="@Url.Action("chart")" alt="SimpleChart" />
}